<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://callmefromal20221106104102.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/03956333-f040-4a8b-8b63-dd1c33be610d/resourcegroups/Youtube/providers/Microsoft.Web/sites/CallMeFromAL20221106104102</ResourceId>
    <UserName>$CallMeFromAL20221106104102</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://callmefromal20221106104102.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>