#myProgress {
    width: 100%;
    background-color: #ddd;
  }
  
  #myBar {
    width: 0%;
    height: 30px;
    background-color: #04AA6D;
    text-align: center;
    line-height: 30px;
    color: white;
  }